html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    height: 7vh;
    width: 100%;
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
    background-color: rgb(173, 200, 215);
    box-shadow: 0 0 10px;
}

.head {
    margin: 0;
    border: 0;
    top: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5%;
    cursor: pointer;
    list-style: none;
}

#home, #about, #projects, #contact {
    background-color: #fff;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-radius: 10px;
}

#home-content {
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

.welcome {
    font-size: 100px;
    font-style: italic;
    margin-top: 25vh;
    margin-left: 15vw;
    color:lightblue;
}